/**
 * @Author: Edmund Lam <edl>
 * @Date:   16:41:55, 13-Feb-2018
 * @Filename: life.css
 * @Last modified by:   edl
 * @Last modified time: 17:16:33, 19-Oct-2019
 */


@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
  /* background-color: #000; */
}
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
canvas {
	image-rendering:pixelated;
}
